/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.App {
  text-align: center;
}

/* Header Styles */
header {
  background-color: #e2aa0e;
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: color 0.3s;
  padding: 10px 10px;
  border-radius: 0.3rem;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: 0;
  left: 50%;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.go {
  margin-left: auto;
}

.log {
  background-color: #e2aa0e;
  padding: 8px 10px;
  border-radius: 0.2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 0.5rem;
  margin: 0.5rem;
}

.log:hover{
  background-color: #21a1f1;
  color: white;
}

.logup:hover{
  background-color: #21a1f1;
  color: white;
}
  
.logup {
  background-color: #e2aa0e;
  padding: 8px 10px;
  border-radius: 0.2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0.5rem;
  margin-left: 0.5rem;
}

/* Page Section Styles */
section {
  padding: 50px 20px;
  background-color: white;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  color: #282c34;
}
/* Contact Form Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form textarea {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  width: auto;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #21a1f1;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  width: 30px;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

header .logo{
  background-color: #000000;
  padding: 10px;
  font-size: large;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 0.5rem;
}


.go {
  display: flex;
  align-items: center;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-content {
  background-color: #000000;
  display: none;
  position: absolute;
  right: 0;
  width: 15rem;
  box-shadow: 0px 0px 10px rgb(255, 238, 0);
  z-index: 1;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-radius: 0.3rem;
}

.profile-container:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}


.logout{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 0.3rem;
}

.logout:hover{
  background-color: #eeeeee;
}

.google {
  background-color: #000000;
  padding: 10px;
  border-radius: 0.2rem;
  color: rgb(255, 254, 254);
  text-decoration: none;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  padding-left: 1.5rem;
  border: 1px solid white;
}

.google img {
  width: 1.5rem;
  display: flex;
  position: absolute;
  margin-top: -0.2rem;
}

.gogo{
  z-index: 999;
  margin-left: 1rem
}

.google:hover{
  background-color: rgb(248, 246, 246);
  color: #000000;
  border: 1px solid white;
}

.bgo{
  display: none;
}


/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: flex;
    z-index: 999;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    background-color: #e2a90ea4;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 70%;
    margin-top: 53.7rem;
    margin-left: -10rem;
    height: 100vh;
    position: fixed;
    z-index: 999;
  }

  .mobile-menu ul li {
    margin: 10px 0;
    margin-top: 2rem;
    text-align: start;
    display: flex;
  }

  .mobile-menu ul li a {
    padding: 10px;
  }

  .hamburger {
    display: flex;
    margin-left: 1rem;
  }


  .go{
    display: none;
  }

  .logo{
    background-color: #000000;
    padding: 10px;
    font-size: large;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: 2rem;
  }

  .bgo{
    display: flex;
    width: 100%;
    justify-content: end;
    position: absolute;
  }
  
  .profile-container{
    margin-right: 0.1rem;
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .bottom-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .bottom-nav li {
    display: inline;
  }
  
  .bottom-nav a {
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottom-nav a i {
    font-size: 1.2rem;
  }
}


@media (min-width: 768px) {
  .bottom-nav {
    display: none;
  }
}


/* App.css */


